.lavender {
  color: #a4bdfc;
}

.sage {
  color: #7ae7bf;
}

.grape {
  color: #bdadff;
}

.flamingo {
  color: #ff887c;
}

.banana {
  color:#fbd75b;
}

.tangerine {
  color: #ffb878;
}

.peacock {
  color: #46d6db;
}

.graphite {
  color: #e1e1e1;
}

.blueberry {
  color: #5484ed;
}

.basil {
  color: #51b749;
}

.tomato {
  color: #dc2127;
}